{% extends "base.html" %}
{% block title %} Grzebyk - kontakt{% endblock %}
{% block navbar4 %}class="navbar-active"{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="article">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Adres:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">Donbas</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}